<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankName</key>
		<string>华夏银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>光大银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>浦发银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>平安银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中信银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string> 招商银行 </string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>兴业银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>广发银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>上海农商银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>南京银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>长沙银行 </string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>金华银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>富滇银行</string>
		<key>isSupportCreditCard</key>
		<string>0</string>
		<key>isSupportBorrowCard</key>
		<string>1</string>
	</dict>
</array>
</plist>
